In [1]:
#membuat koneksi untuk python
import pandas as pd
import psycopg2 as psy

kon = psy.connect('host=localhost port=5432 dbname=Covid_Project user=postgres password=kalyanabari')

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
--menamiplkan semua data pada tabel covid_deaths
SELECT * FROM covid_deaths
limit 10
-- SELECT * FROM covid_vaccination
-- limit 10

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
-- melihat jumlah kasus vs jumlah kematian
-- melihat persentase jumlah kematian akibat kasus covid
SELECT location, date, total_cases,  total_deaths, (total_deaths / total_cases)*100 AS Death_Percentage
FROM covid_deaths
ORDER BY 1,2
--limit 10

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
-- melihat jumlah kasus vs populasi
-- menampilkan persentase populasi yang terkena covid

SELECT location, date,  total_cases, population, CAST((total_cases/CAST(population AS DECIMAL (13,2))*100) AS DECIMAL) AS Populasi_Terinfeksi_percentage
FROM covid_deaths
WHERE location = 'World'
 ORDER BY 1,2

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
-- melihat negara dengan total kasus covid terbanyak

SELECT location, population,  MAX(COALESCE(total_cases,0)) AS Negara_Terinfeksi_Tertinggi, MAX(CAST((total_cases/CAST(population AS DECIMAL (13,2))*100) AS DECIMAL)) AS Persentasi_Populasi_Terinfeksi
FROM covid_deaths
--biar gk ada nullnya
--WHERE population IS NOT NULL AND total_cases IS NOT NULL

GROUP BY location, population

ORDER BY Persentasi_Populasi_Terinfeksi DESC

In [2]:
# export data dengan python
v1 = pd.read_sql_query("SELECT location, population,  MAX(COALESCE(total_cases,0)) AS Negara_Terinfeksi_Tertinggi, MAX(CAST((total_cases/CAST(population AS DECIMAL (13,2))*100) AS DECIMAL)) AS Persentasi_Populasi_Terinfeksi FROM covid_deaths GROUP BY location, population ORDER BY Persentasi_Populasi_Terinfeksi DESC",kon)
print(v1)
#export to CSV
#v1.to_csv('Persentasi_Populasi_Terinfeksi.csv', index = False)

d:\ASUS\Documents\VSCode folder\python210_venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                         location  population  negara_terinfeksi_tertinggi  \
0                            Niue      1937.0                            0
1                           Nauru     12512.0                            0
2                    Turkmenistan   6341855.0                            0
3    United States Virgin Islands    100091.0                            0
4                        Pitcairn        47.0                            0
..                            ...         ...                          ...
239                      Tanzania  63588334.0                        37510
240                          Chad  17179740.0                         7432
241                         Niger  25252722.0                         9104
242                         Yemen  32981641.0                        11849
243                   North Korea  25971909.0                            1

     persentasi_populasi_terinfeksi
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
..                              ...
239                        0.058989
240                        0.043260
241                        0.036052
242                        0.035926
243                        0.000004

[244 rows x 4 columns]

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
-- melihat negara dengan total kasus covid terbanyak

SELECT location, population, date,  MAX(COALESCE(total_cases,0)) AS Negara_Terinfeksi_Tertinggi, MAX(CAST((total_cases/CAST(population AS DECIMAL (13,2))*100) AS DECIMAL)) AS Persentasi_Populasi_Terinfeksi
FROM covid_deaths
--biar gk ada nullnya
--WHERE population IS NOT NULL AND total_cases IS NOT NULL

GROUP BY location, population, date

ORDER BY Persentasi_Populasi_Terinfeksi DESC

In [2]:
# export data dengan python
v2 = pd.read_sql_query("SELECT location, population, date,  MAX(COALESCE(total_cases,0)) AS Negara_Terinfeksi_Tertinggi, MAX(CAST((total_cases/CAST(population AS DECIMAL (13,2))*100) AS DECIMAL)) AS Persentasi_Populasi_Terinfeksi FROM covid_deaths GROUP BY location, population, date ORDER BY Persentasi_Populasi_Terinfeksi DESC",kon)

#export to CSV
v2.to_csv('Persentasi_Populasi_Terinfeksi_perwaktu.csv', index = False)

d:\ASUS\Documents\VSCode\Project\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
-- melihat negara dengan kematian terbanyak
SELECT location, MAX(total_deaths) AS totalDeathCount
FROM covid_deaths
WHERE  total_deaths IS NOT NULL
AND location <> continent
GROUP BY location
ORDER BY totalDeathCount DESC
limit 10

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
-- melihat benua dengan kematian terbanyak
SELECT continent, location, MAX(total_deaths) AS totalDeathCount
FROM covid_deaths
WHERE  continent IS NOT NULL
GROUP BY continent, location
ORDER BY totalDeathCount DESC
--limit 10

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
SELECT date, total_cases, total_deaths, (total_deaths/total_cases)*100 as kematian_perkasus
FROM covid_deaths
WHERE  total_cases IS NOT NULL
AND total_deaths IS NOT NULL

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project@public
--menampilkan persentase kematian berdasarkan kasus baru dan jumlah kematian baru
SELECT SUM(COALESCE(new_cases,0)) AS Total_kasus_Covid, 
SUM(COALESCE(new_deaths,0)) AS Total_Kematian_Baru, 
SUM(new_deaths)/NULLIF(SUM(new_cases),0) AS Persentase_Kematian
FROM covid_deaths
ORDER BY 1,2

In [13]:
# export data dengan python
v3 = pd.read_sql_query("SELECT SUM(new_cases) AS Total_kasus_Covid, SUM(new_deaths) AS Total_Kematian_Baru, SUM(new_deaths)/SUM(new_cases) AS Persentase_Kematian FROM covid_deaths ORDER BY 1,2",kon)

#export to CSV
v3.to_csv('total_persentase_kematian.csv', index = False)

d:\ASUS\Documents\VSCode\Project\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project@public
--menampilkan kaseus kematian kovid perbenua
SELECT continent,  SUM(new_deaths) as Total_kematian_covid
FROM covid_deaths
WHERE continent IS NOT NULL
GROUP BY continent
ORDER BY Total_kematian_covid DESC

In [3]:
# export data dengan python
v4 = pd.read_sql_query("SELECT continent,  SUM(new_deaths) as Total_kematian_covid FROM covid_deaths WHERE continent IS NOT NULL GROUP BY continent ORDER BY Total_kematian_covid DESC",kon)

#export to CSV
v4.to_csv('total_persentase_kematian_Perbenua.csv', index = False)

d:\ASUS\Documents\VSCode\Project\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
--manampilkan persentasi total kasus baru VS total kasus kematian baru
--Nomor Global
--by date
SELECT date, SUM(COALESCE(new_cases,0)) AS Total_kasus_Covid, 
SUM(COALESCE(new_deaths,0)) AS Total_Kematian_Baru, 
SUM(new_deaths)/NULLIF(SUM(new_cases),0) AS Persentase_Kematian
FROM covid_deaths
GROUP BY date
ORDER BY 1,2

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
--menampilkan tabel covid_vaccinatio
SELECT * FROM covid_vaccination

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
--mengabungkan tabel covid_date dan covid_vaccination
SELECT C_deaths.continent, C_deaths.location, C_deaths.date, C_deaths.population, C_vaccin.new_vaccinations,
SUM(C_vaccin.new_vaccinations) OVER (PARTITION by C_deaths.location ORDER BY C_deaths.date) AS Jumlah_Orang_Vacin_Perwaktu
FROM covid_deaths AS C_deaths
FULL OUTER JOIN covid_vaccination AS C_vaccin
ON C_deaths.location = C_vaccin.location
AND C_deaths.date = C_vaccin.date
ORDER BY 2,3

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
--membuat CTE
WITH PopvsVac (continent, location, date, population, new_vaccinations, Jumlah_Orang_Vacin_Perwaktu)
AS
(
SELECT C_deaths.continent, C_deaths.location, C_deaths.date, C_deaths.population, C_vaccin.new_vaccinations,
SUM(C_vaccin.new_vaccinations) OVER (PARTITION by C_deaths.location ORDER BY C_deaths.date) AS Jumlah_Orang_Vacin_Perwaktu
FROM covid_deaths AS C_deaths
FULL OUTER JOIN covid_vaccination AS C_vaccin
ON C_deaths.location = C_vaccin.location
AND C_deaths.date = C_vaccin.date
)

SELECT *, (Jumlah_Orang_Vacin_Perwaktu/population)*100 AS Jumlah_vaksin_Per_Popolasi
FROM PopvsVac

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
--membuat TABLE
-- CREATE TABLE IF NOT EXISTS public.Presentase_Populasi_Tervaksin
-- (
--     continent nvarchar(225),
--     location nvarchar(225),
--     date datetime,
--     population numeric,
--     new_vaccinations numeric,
--     Jumlah_vaksin_Per_Popolasi numeric
-- )

-- INSERT INTO Presentase_Populasi_Tervaksin
-- SELECT C_deaths.continent, C_deaths.location, C_deaths.date, C_deaths.population, C_vaccin.new_vaccinations,
-- SUM(C_vaccin.new_vaccinations) OVER (PARTITION by C_deaths.location ORDER BY C_deaths.date) AS Jumlah_Orang_Vacin_Perwaktu
-- FROM covid_deaths AS C_deaths
-- FULL OUTER JOIN covid_vaccination AS C_vaccin
-- ON C_deaths.location = C_vaccin.location
-- AND C_deaths.date = C_vaccin.date

-- SELECT *, (Jumlah_Orang_Vacin_Perwaktu/population)*100 AS Jumlah_vaksin_Per_Popolasi
-- FROM Pesentase_Populasi_Tervaksin

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
--membuat VIEW
CREATE VIEW Jumlah_vaksin_Per_Popolasi AS
SELECT C_deaths.continent, C_deaths.location, C_deaths.date, C_deaths.population, C_vaccin.new_vaccinations,
SUM(C_vaccin.new_vaccinations) OVER (PARTITION by C_deaths.location ORDER BY C_deaths.date) AS Jumlah_Orang_Vacin_Perwaktu
FROM covid_deaths AS C_deaths
FULL OUTER JOIN covid_vaccination AS C_vaccin
ON C_deaths.location = C_vaccin.location
AND C_deaths.date = C_vaccin.date

In [ ]:
-- Active: 1660012487192@@localhost@5432@Covid_Project
SELECT * FROM Jumlah_vaksin_Per_Popolasi